<li class="nc-mob-menu-cat-gal-list">
<div class="nc-mob-menu-cat-gal">
	<div class="nc-mob-menu-cat-blk">
		<a href="{{section.settings.link_1}}"></a>
		<div class="nc-mob-menu-cat-box">
			<img src="{{section.settings.image_1 | img_url: "original"}}" />
			<h3>{{section.settings.text_1}}</h3>
		</div>
	</div>
	<div class="nc-mob-menu-cat-blk">
		<a href="{{section.settings.link_2}}"></a>
		<div class="nc-mob-menu-cat-box">
			<img src="{{section.settings.image_2 | img_url: "original"}}" />
			<h3>{{section.settings.text_2}}</h3>
		</div>
	</div>
	<div class="nc-mob-menu-cat-blk">
		<a href="{{section.settings.link_3}}"></a>
		<div class="nc-mob-menu-cat-box">
			<img src="{{section.settings.image_3 | img_url: "original"}}" />
			<h3>{{section.settings.text_3}}</h3>
		</div>
	</div>
	<div class="nc-mob-menu-cat-blk">
		<a href="{{section.settings.link_4}}"></a>
		<div class="nc-mob-menu-cat-box">
			<img src="{{section.settings.image_4 | img_url: "original" }}" />
			<h3>{{section.settings.text_4}}</h3>
		</div>
	</div>
</div>
</li>