{%- for block in section.blocks -%}
 {%- assign header_Menu = block.settings.main_linklist -%}
  {% if block.settings.main_linklist != blank %}
  <li class="{%if block.settings.title=="Color"%}nc-single-blk-dropdown {%endif%}site-nav--has-dropdown site-nav--has-centered-dropdown {% if link.active %} site-nav--active{% endif %}" data-has-dropdowns>
        <button class="site-nav__link site-nav__link--main site-nav__link--button{% if link.child_active %} site-nav__link--active{% endif %}" type="button" aria-expanded="false" aria-controls="SiteNavLabel-{{ child_list_handle }}">
          <span class="site-nav__label">{{ block.settings.title | escape }} {% include 'icon-chevron-down' %}</span>
        </button>
    <div class="site-nav__dropdown site-nav__dropdown--centered" id="SiteNavLabel-{{ child_list_handle }}">
        <div class="MainMegaMenu">
          {%if block.settings.title == "Color" %}
          <div class="site-nav__childlist">
            <ul class="site-nav__childlist-grid ColorMenuMob">
              
    {% for link in linklists[header_Menu].links %}
        <li><a href="{{link.url}}">
          {% assign imagepath = "color-" | append: link.handle%}
         
          <img src="{{imagepath| append:".png" | file_url }}">
          </a></li>
      {%endfor%}
      </ul>
            </div>
          {%else%}
                    <div class="mLeftMenu vertical-menu">
                           {%include "nav-custom" %}
          </div>
          <div class="mRightImg">
            <div class="InnerImage">
              {% if numberget == "1" %}
		<img data-srcing="{{section.settings.mega_img_1| img_url: "480x480"}}" src="{{section.settings.mega_img_1| img_url: "480x480"}}"/>
          {% elsif numberget == "2" %}
              <img data-srcing="{{section.settings.mega_img_2| img_url: "480x480"}}" src="{{section.settings.mega_img_2| img_url: "480x480"}}"/>
              {% elsif numberget == "3" %}
              <img data-srcing="{{section.settings.mega_img_3| img_url: "480x480"}}" src="{{section.settings.mega_img_3| img_url: "480x480"}}"/>
              {% elsif numberget == "4" %}
              <img data-srcing="{{section.settings.mega_img_4| img_url: "480x480"}}" src="{{section.settings.mega_img_4| img_url: "480x480"}}"/>
              {%endif%}
            </div>
            </div>
          
          {%endif%}
          <div class="Expand_all"><a href="{{ block.settings.menu_link }}">Explore All</a></div>
      </div>
    </div>
</li>
{%else%}
 <li>
        <a href="{{ block.settings.menu_link }}"
          class="site-nav__link site-nav__link--main">
          <span class="site-nav__label">{{ block.settings.title | escape }}</span>
        </a>
      </li>
{%endif%}
  {%endfor%}