<div class="site-nav__childlist">
              <ul class="site-nav__childlist-grid {%capture numberget%}{{forloop.index}}{%endcapture%}">
              {% for customlink in linklists[header_Menu].links %}
                {% assign number = forloop.index | modulo:5 %}
                {%if number == 1 or forloop.first%}
           
                
                
                <li class="site-nav__childlist-item ">
                  {%endif%}
                  {% if customlink.links != blank %}
                <div class="nc-has-drop-list">
                  
                  <a 
                        class="site-nav__link site-nav__child-link site-nav__child-link--parent"
                        
                      >
                        <span class="site-nav__label">{{ customlink.title | escape }}</span>
                      </a>
                   
                        <ul>
                        {% for grandchildlink in customlink.links %}
                          {% if grandchildlink.links != blank %}
                          <li class="nc-has-drop-list">
                            <a href="{{ grandchildlink.url }}" {% if grandchildlink.type contains "collection_link" %} {% assign imagepath = grandchildlink.object.handle %} data-images="{{ collections[imagepath].image | img_url: "480x480" }}"{%endif%}
                            class="{% if grandchildlink.type contains "collection_link" %} {% assign imagepath = grandchildlink.object.handle %} {%if collections[imagepath].image != blank %}hoverworking {%endif%}{%endif%} site-nav__link site-nav__child-link site-nav__child-link--parent"
                            {% if grandchildlink.current %} aria-current="page"{% endif %}
                          >
                              <span class="site-nav__label">{{ grandchildlink.title | escape }}</span>
                            </a>
                          
                        <ul>
                        {% for grandsunchildlink in grandchildlink.links %}
                          <li>
                            <a href="{{ grandsunchildlink.url }}" {% if grandsunchildlink.type contains "collection_link" %} {% assign imagepath = grandsunchildlink.object.handle %} data-images="{{ collections[imagepath].image | img_url: "480x480" }}"{%endif%}
                            class="{% if grandsunchildlink.type contains "collection_link" %} {% assign imagepath = grandsunchildlink.object.handle %} {%if collections[imagepath].image != blank %}hoverworking {%endif%}{%endif%} site-nav__link site-nav__child-link"
                            {% if grandsunchildlink.current %} aria-current="page"{% endif %}
                          >
                              <span class="site-nav__label">{{ grandsunchildlink.title | escape }}</span>
                            </a>
                          </li>
                        {% endfor %}
                          
                        </ul>
                            </li>
                      {%else%}
                          <li>
                            <a href="{{ grandchildlink.url }}" {% if grandchildlink.type contains "collection_link" %} {% assign imagepath = grandchildlink.object.handle %} data-images="{{ collections[imagepath].image | img_url: "480x480" }}"{%endif%}
                            class="{% if grandchildlink.type contains "collection_link" %} {% assign imagepath = grandchildlink.object.handle %} {%if collections[imagepath].image != blank %}hoverworking {%endif%}{%endif%} site-nav__link site-nav__child-link"
                            {% if grandchildlink.current %} aria-current="page"{% endif %}
                          >
                              <span class="site-nav__label">{{ grandchildlink.title | escape }}</span>
                            </a>
                          </li>
                          {% endif %}
                        {% endfor %}
                         
                        </ul>
                 
                      
                </div>
                   {%else%}
                  <div>
                 <a href="{{ customlink.url }}" {% if customlink.type contains "collection_link" %} {% assign imagepath = customlink.object.handle %} data-images="{{ collections[imagepath].image | img_url: "480x480" }}"{%endif%}
                            class="site-nav__link site-nav__child-link site-nav__child-link--parent {% if customlink.type contains "collection_link" %} {% assign imagepath = customlink.object.handle %} {%if collections[imagepath].image != blank %}hoverworking {%endif%}{%endif%}"
                        
                        
                      >
                        <span class="site-nav__label">{{ customlink.title | escape }}</span>
                      </a>
                  </div>
                  {% endif %}
                  {%if number == 0 or forloop.last%}
                </li>
                {%endif%}
                {%endfor%}
  </ul>
</div>


