{% comment %}
Renders a product card using "Grid" style
Accepts:
- max_height: {Number} Maximum height of the product's image (required)
- product: {Object} Product Liquid object (required)
- show_vendor: {Boolean} Show the product's vendor depending on the section setting (optional)

Usage:
{% include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
{% endcomment %}
<div class="MainGridProducts grid-view-item{% unless product.available %} grid-view-item--sold-out{% endunless %} product-card">
  {% comment %} BoostCommerce product item JSON data {% endcomment %}
  
    {%- if template contains 'collection' or template contains 'search' -%}
      {% render 'bc-sf-filter-json', product: product %}
    {%- endif -%}
    <!-- include 'wishlist-button-collection' with '{{ product.id }}' -->

  <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="{{ product.url | within: collection }}">
    <span class="visually-hidden">{{ product.title }}</span>
  </a>

  {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
  {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
  {%- assign preview_image = product.featured_media.preview_image -%}
  {%- assign img_url = preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

  {% unless preview_image == blank %}
  {% include 'image-style', image: preview_image, height: max_height, wrapper_id: wrapper_id, img_id: img_id %}
  {% endunless %}

  <div class="product-card__image-with-placeholder-wrapper" data-image-with-placeholder-wrapper>
    <div class="CustomJs">
      <div class="cstGridImg">
        <img
             class="grid-view-item__image lazyload"
             alt="{{ preview_image.alt }}"
             data-src="{{ img_url }}"
             data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
             data-aspectratio="{{ preview_image.aspect_ratio }}"
             data-sizes="auto"
             data-image>
        <div class="GridCartBtn" data-id="{{product.variants.first.id}}">Add to Cart</div>

        <ul class="GridBadge">
          





          {% for tag in product.tags %}
          
         {% if tag contains "limited" %}
         <li class="limtedAdd">Limited Edition</li>
          {%endif %}
           {% if tag contains "onsale" %}
          <li class="gbSale">SALE</li>
          {%endif %}
           {% if tag contains "newarrival" %}
          <li class="gbNewarrive"> 
            <img src="https://cdn.shopify.com/s/files/1/2012/8501/t/103/assets/icon-new-arrival.svg" alt="img" title="img">
            New Arrival
          </li>
          {%endif %}
           {% if tag contains "trending" %}
          <li class="gbtrmding">Trending</li>
          {%endif %}
           {% if tag contains "featuredartist" %}
          <li class="gbFA">
            <img src="https://cdn.shopify.com/s/files/1/2012/8501/t/103/assets/icon-featured-artist.svg" alt="img" title="img"> 
            Featured Artist
          </li>
         {%endif %}
           {% if tag contains "bestseller" %}
          <li class="gbBS">
            <img src="https://cdn.shopify.com/s/files/1/2012/8501/t/103/assets/icon-best-seller.svg" alt="img" title="img">
            Best Seller
          </li>
          {%endif %}
            {%endfor %}
        </ul>        

      </div>
    </div>
    <div class="placeholder-background placeholder-background--animation" data-image-placeholder></div>
  </div>

  <noscript>
    {% capture image_size %}{{ max_height }}x{{ max_height }}{% endcapture %}
    <img class="grid-view-item__image" src="{{ preview_image | img_url: image_size, scale: 2 }}" alt="{{ preview_image.alt }}" style="max-width: {{ max_height | times: preview_image.aspect_ratio }}px;">
  </noscript>

  <div class="cstPriceTitl">
    <div>
    <div class="h4 grid-view-item__title product-card__title" aria-hidden="true">{{ product.title }}</div>
    <div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"></div>
    </div>
    {% include 'product-price-listing', product: product, show_vendor: show_vendor %}
  </div>

  <div class="GridCartBtnmob" data-id="{{product.variants.first.id}}">Add to Cart</div>

</div>
