<div id="Customaccordion">
  <h3>{{section.settings.title_2}}</h3>
  <div>
    <p>{{section.settings.content_2}}
    </p>
  </div>
  <h3>{{section.settings.Accheading_1}}</h3>
  <div>
    <p>{{section.settings.Acccontent_1}}
    </p>
  </div>
  <h3>{{section.settings.Accheading_2}}</h3>
  <div>
    <p>{{section.settings.Acccontent_1}}</p>
  </div>
</div>