<a class="needhelp" href="tel:{{settings.number}}">Need help? <u>{{settings.number}}</u></a>
<div class="shipInfo">
  <div class="siLft">
    Shipping Info:
  </div>
  <div class="siRyt">
    <ul>
      <li class="Unitedworld" style="display:none;">{{section.settings.US_content}}</li>
      <li class="Europeworld" style="display:none;">{{section.settings.EU_content}}</li>
      <li class="Restworld" style="display:none;">{{section.settings.Rest_content}}</li>
    </ul>
  </div>
</div>
<ul class="shipIcnz">
  <li> 
    <img src="{{'icon-free-shipping.svg'|asset_url}}" alt="Image" title="Free Shiping">
    <p>Free Shipping in the USA</p>
  </li>
  <li> 
    <img src="{{'icon-ready-to-hang.svg'|asset_url}}" alt="Image" title="Ready to mount">
    <p>Ready to mount</p>
  </li>
  <li> 
    <img src="{{'icon-best-price-guarantee.svg'|asset_url}}" alt="Image" title="Best Price Guarantee">
    <p>Best Price Guarantee</p>
  </li>
</ul>