<a class="needhelp" href="tel:{{settings.number}}">Need help? <u>{{settings.number}}</u></a>
<div class="shipInfo">
  <div class="siLft">
    Shipping Info:
  </div>
  <div class="siRyt">
    <ul>
      <li class="Unitedworld" style="display:none;">{{section.settings.US_content}}</li>
      <li class="Europeworld" style="display:none;">{{section.settings.EU_content}}</li>
      <li class="Restworld" style="display:none;">{{section.settings.Rest_content}}</li>
    </ul>
  </div>
</div>
<ul class="shipIcnz">      
      {{section.settings.shipping_content}}
</ul>