
<div class="nc-mob-menu-cat-gal-inner">
	<h4 class="nc-mob-menu-cat-gal-inn-title">Popular</h4>
	<div class="nc-mob-menu-cat-gal"> 
    {% for subchildlink in childlink.links %}
      {%capture linkhandle%}{{link.handle}}{%endcapture%}
		<div class="nc-mob-menu-cat-blk">
			<a href="{{subchildlink.url}}"></a>
			<div class="nc-mob-menu-cat-box {{subchildlink.object.url}}">
              {% assign Gethandle = subchildlink.object.url | split: "/" | last %}
				<img src="{{collections[Gethandle].image | img_url: '300x300'}}" />
				<h3>{{subchildlink.title}}</h3>
			</div>
		</div>
      {%endfor%}
	</div>
	<div class="nc-mob-menu-cat-gal-inn-link"><a href="{{link.url}}">Browse {{link.title}}</a></div>
</div>
