{% if section.settings.message %}
<style> 
  {% if section.settings.logo != blank %}
  .site-header__logo-image {
    max-width: {{ section.settings.logo_max_width | escape }}px;
  }
  {% endif %}

  {% if section.settings.align_logo == 'left' %}
  .site-header__logo-image {
    margin: 0;
  }
  {% endif %}
</style>
{% endif %}

{% include 'search-drawer' %}

<div data-section-id="{{ section.id }}" data-section-type="header-section" data-header-section>
  {% if section.settings.message %}
  {% if section.settings.home_page_only == false or request.page_type == 'index' %}
  <style>
    .announcement-bar {
      background-color: {{ section.settings.color_bg }};
    }

    .announcement-bar--link:hover {
      {% assign brightness = section.settings.color_bg | color_brightness %}

      {% if brightness <= 192 %}
      {% assign lightenAmount = 255 | minus: brightness | divided_by: 255 | times: 16 %}
      background-color: {{ section.settings.color_bg | color_lighten: lightenAmount }};
      {% else %}
      {% assign darkenAmount = 255 | divided_by: brightness | times: 8 %}
      background-color: {{ section.settings.color_bg | color_darken: darkenAmount }};
      {% endif %}
    }

    .announcement-bar__message {
      color: {{ section.settings.color_text }};
    }
  </style>

  {% if section.settings.message_link == blank %}
  <div class="announcement-bar">
    {% else %}
    <a href="{{ section.settings.message_link }}" class="announcement-bar announcement-bar--link">
      {% endif %}

      <p class="announcement-bar__message fs_announcement-bar">{{ section.settings.message_text}}</p>
      <p class="announcement-bar__message fs_mobile_announcement-bar">{{ section.settings.message_mobile_text}}</p>
      <span class="CrossAnnouc">X</span>
      {% if section.settings.message_link == blank %}
      </div>
    {% else %}
    </a>
  {% endif %}

  {% endif %}
  {% endif %}

  <div id="MiniCart" class="mini_cart">
    <div id="minicart-inner">

      <div id="minicart-items" class="custm_prdt_list">       
        <div class=" cart-popup-wrapper" role="dialog" aria-modal="true" aria-labelledby="CartPopupHeading" data-cart-popup-wrapper>
          <div class="cart-popup" data-cart-popup tabindex="-1">
            <div class="cart-popup__header">
              <h2 id="CartPopupHeading" class="cart-popup__heading">{{ 'cart.popup.added_to_cart' | t }}</h2>
              <button class="cart-popup__close" aria-label="{{ 'general.accessibility.close_modal' | t }}" data-cart-popup-close>{% include 'icon-close' %}</button>
            </div>
            {% for item in cart.items limit: 1 %}
            <div class="cart-popup-item">
              <div class="cart-popup-item__image-wrapper" data-cart-popup-image-wrapper>
                <div class="cart-popup-item__image cart-popup-item__image--placeholder" data-cart-popup-image-placeholder>
                  <div data-placeholder-size></div>
                </div>
                <div class="placeholder-background placeholder-background--animation"></div>
                <img class="cus_cart_image" src="{{ item | img_url: '160x160', scale: 2 }}" alt="{{ item.title | escape }}">
              </div>
              <div class="cart-popup-item__description">
                <div>
                  <div class="cart-popup-item__title" data-cart-popup-title>{{ item.product.title }} </div>
                  <ul class="product-details" aria-label="{{ 'cart.popup.product_details' | t }}" data-cart-popup-product-details>
                    {% unless item.variant.title contains 'Default' %}
                    <div class="cart__meta-text">
                      {% for option in item.product.options %}
                      {{ option }}: {{ item.variant.options[forloop.index0] }}<br/>
                      {% endfor %}
                    </div>
                    {% endunless %}
                    {%- assign property_size = item.properties | size -%}
                    {% if property_size > 0 %}
                    <div class="cart__meta-text">
                      {% for p in item.properties %}
                      {%- if p.first.first == '_' -%}{%- continue -%}{%- endif -%}
                      {% unless p.last == blank %}
                      {{ p.first }}:


                      {% if p.last contains '/uploads/' %}
                      <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                      {% else %}
                      {{ p.last }}
                      {% endif %}
                      {% endunless %}
                      {% endfor %}
                    </div>
                    {% endif %}
                  </ul>
                </div>
                <div class="cart-popup-item__quantity">
                  <span class="visually-hidden" data-cart-popup-quantity-label></span>
                  <span aria-hidden="true">{{ 'cart.popup.quantity' | t }}:1</span>
                  <span aria-hidden="true" data-cart-popup-quantity></span>
                </div>
              </div>
            </div>
            {% endfor %}
            <a href="{{ routes.cart_url }}" class="cart-popup__cta-link btn btn--secondary-accent">
              {{ 'products.product.view_cart' | t }} {% comment %}(<span class="cust_home_popupCart" data-cart-popup-cart-quantity></span>) {% endcomment %}
            </a>

            <div class="cart-popup__dismiss">
              <button class="cart-popup__dismiss-button text-link text-link--accent" data-cart-popup-dismiss>
                {{ 'cart.general.continue_shopping' | t }}
              </button>
            </div>
          </div>
        </div> 
      </div>
      <br style="clear:both;" />
    </div> 
  </div>

  
  <header class="site-header{% if section.settings.align_logo == 'left' %} logo--left{% else %} logo--center{% endif %}" role="banner">

    <div class="grid grid--no-gutters grid--table site-header__mobile-nav">
      {% unless linklists[section.settings.main_linklist] == blank %}
      <button type="button" class="btn--link site-header__icon site-header__menu CustomMMenu" aria-controls="MobileNav"  aria-expanded="false" aria-label="{{ 'layout.navigation.menu' | t }}">
        {% comment %}{% include 'icon-hamburger' %}{% endcomment %} <img src="{{ 'icon-mobile-menu2.png' | asset_url }}" alt="Menu">
      </button>
      {% endunless %}
      {% if section.settings.align_logo == 'center' %}
      {%- assign logo_classes = 'medium-up--one-third medium-up--push-one-third logo-align--center' -%}
      {% else %}
      {%- assign logo_classes = 'medium-up--one-quarter logo-align--left' -%}
      {% endif %}

      <div class="grid__item {{ logo_classes }}">
        {% comment %}
        Use the uploaded logo from theme settings if enabled.
        Site name gets precedence with H1 tag on homepage, div on other pages.
        {% endcomment %}
        {% if request.page_type == 'index' %}
        <h1 class="h2 site-header__logo">
          {% else %}
          <div class="h2 site-header__logo">
            {% endif %}
            {% if section.settings.logo %}
            {%- assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <a href="{{ routes.root_url }}" class="site-header__logo-image{% if section.settings.align_logo == 'center' %} site-header__logo-image--centered{% endif %}">
              {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
              <img title="NicheCanvas" class="lazyload js"
                   src="{{ section.settings.logo | img_url: image_size }}"
                   data-src="{{ img_url }}"
                   data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
                   data-sizes="auto"
                   alt="{{ logo_alt | escape }}"
                   style="max-width: {{ section.settings.logo_max_width }}px">
              <noscript>
                {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
                <img src="{{ section.settings.logo | img_url: image_size }}"
                     srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                     alt="{{ section.settings.logo.alt | default: shop.name }}"
                     style="max-width: {{ section.settings.logo_max_width }}px;">
              </noscript>
            </a>
            {% else %}
            <a class="site-header__logo-link" href="{{ routes.root_url }}">{{ shop.name }}</a>
            {% endif %}
            {% if request.page_type == 'index' %}
            </h1>
          {% else %}
          </div>
        {% endif %}
      </div>
      <div class="grid__item medium-up--one-half small--hide CustomSearch">
        <form class="search-form search-bar__form" action="{{ routes.search_url }}" method="get" role="search">
          <div class="search-form__input-wrapper">
            <input
                   type="text"
                   name="q"
                   placeholder="{{ 'general.search.placeholder' | t }}"
                   role="combobox"
                   aria-autocomplete="list"
                   aria-owns="predictive-search-results"
                   aria-expanded="false"
                   aria-label="{{ 'general.search.placeholder' | t }}"
                   aria-haspopup="listbox"
                   class="search-form__input search-bar__input"
                   data-predictive-search-drawer-input
                   />
            <input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />
            <div class="predictive-search-wrapper predictive-search-wrapper--drawer" data-predictive-search-mount="drawer"></div>
          </div>

          <button class="search-bar__submit search-form__submit"
                  type="submit"
                  data-search-form-submit>
            {% include 'icon-search' %}
            <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
          </button>
        </form>
      </div>

      <div class="grid__item {% if section.settings.align_logo == 'left' %}medium-up--one-quarter{% else %}medium-up--one-third medium-up--push-one-third{% endif %} text-right site-header__icons{% if shop.customer_accounts_enabled %} site-header__icons--plus{% endif %}">
        <div class="site-header__icons-wrapper">

          <span class="site-header__cnvs">
            <img src="{{ 'phone.svg' | asset_url }}">
            <a href="tel:{{settings.number}}">{{settings.number}}</a>
          </span>

          <div class="cstSrchMob">
            <button type="button" class="btn--link site-header__icon site-header__search-toggle">
              {% include 'icon-search' %}
              <span class="icon__fallback-text">{{ 'layout.navigation.search' | t }}</span>
            </button></div>


          <button type="button" class="btn--link site-header__icon site-header__search-toggle js-drawer-open-top">
            {% include 'icon-search' %}
            <span class="icon__fallback-text">{{ 'layout.navigation.search' | t }}</span>
          </button>


          {% if shop.customer_accounts_enabled %}
          {% if customer %}
          <a href="{{ routes.account_url }}" class="site-header__icon site-header__account">
            {% include 'icon-login' %}
            <span class="icon__fallback-text">{{ 'layout.customer.account' | t }}</span>
          </a>
          {% else %}
          <a href="{{ routes.account_login_url }}" class="site-header__icon site-header__account">
            {% include 'icon-login' %}
            <span class="icon__fallback-text">{{ 'layout.customer.log_in' | t }}</span>
          </a>
          {% endif %}
          {% endif %}


          <!--<a href="https://nichecanvas.com/pages/wishlist" class="site-header__icon site-header__wishlist">
            <svg title='View Wishlist' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" class="icon">
              <title>View Wishlist</title>
              <g id="web" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="home-v1" transform="translate(-1487.000000, -69.000000)" stroke="#000000" stroke-width="2">
                  <path d="M1502.17009,70 C1500.92486,70 1499.7474,70.4303309 1498.86117,71.2234482 L1497.50263,72.4448245 L1496.13857,71.2232082 C1495.25272,70.4304385 1494.07547,70 1492.83259,70 C1491.58749,70 1490.41246,70.4304385 1489.52635,71.2234482 C1488.54959,72.0989662 1488,73.2625944 1488,74.5118607 C1488,75.7611269 1488.54959,76.9247552 1489.52694,77.8008016 L1497.50134,84.9379706 L1505.4763,77.8003044 C1506.45309,76.9247552 1507,75.7609904 1507,74.5118607 C1507,73.2627309 1506.45309,72.0989662 1505.47574,71.2229197 C1504.58867,70.4310465 1503.41344,70 1502.17009,70 Z" id="fav"/>
                </g>
              </g>
            </svg>
          </a>-->
          
          <!-- include 'wishlist-link' -->


          <a href="{{ routes.cart_url }}" class="site-header__icon site-header__cart">
            {% include 'icon-cart' %}
            <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
            <div id="CartCount" class="site-header__cart-count{% if cart.item_count == 0 %} hide{% endif %}" data-cart-count-bubble>
              <span class="cust_CartPOPUP_Count" data-cart-count>{{ cart.item_count }}</span>
              <span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
            </div>
          </a>


        </div>

      </div>
     
    </div>


    {% include "mobile-nav" %}
  </header>
  <div class="FixedHeaderWrapper">
    <div class="Hdrlogonav">
      <div class="FixedLogo">
        <a href="{{shop.url}}"><img src="{{ section.settings.logo | img_url: image_size }}" /></a>
      </div>
      <nav class="small--hide" id="AccessibleNav" role="navigation">
        {% include 'site-nav', linklist: section.settings.main_linklist, wrapper_class: '' %}
      </nav>
    </div>
    <div class="HeaderIcon">
      <ul>
        <li class="site-header__icon"><a href="tel:{{settings.number}}">{{settings.number}}</a></li>
        <li>
          <button type="button" class="btn--link site-header__icon site-header__search-toggle js-drawer-open-top">
            {% include 'icon-search' %}
            <span class="icon__fallback-text">{{ 'layout.navigation.search' | t }}</span>
          </button>
        </li>
        <li>
          {% if shop.customer_accounts_enabled %}
          {% if customer %}
          <a href="{{ routes.account_url }}" class="site-header__icon site-header__account">
            {% include 'icon-login' %}
            <span class="icon__fallback-text">{{ 'layout.customer.account' | t }}</span>
          </a>
          {% else %}
          <a href="{{ routes.account_login_url }}" class="site-header__icon site-header__account">
            {% include 'icon-login' %}
            <span class="icon__fallback-text">{{ 'layout.customer.log_in' | t }}</span>
          </a>
          {% endif %}
          {% endif %}
        </li>

        <!--<li>
       
          <a href="https://nichecanvas.com/pages/wishlist" class="site-header__icon site-header__wishlist">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" class="icon">
              <title>View Wishlist</title>
              <g id="web" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="home-v1" transform="translate(-1487.000000, -69.000000)" stroke="#000000" stroke-width="2">
                  <path d="M1502.17009,70 C1500.92486,70 1499.7474,70.4303309 1498.86117,71.2234482 L1497.50263,72.4448245 L1496.13857,71.2232082 C1495.25272,70.4304385 1494.07547,70 1492.83259,70 C1491.58749,70 1490.41246,70.4304385 1489.52635,71.2234482 C1488.54959,72.0989662 1488,73.2625944 1488,74.5118607 C1488,75.7611269 1488.54959,76.9247552 1489.52694,77.8008016 L1497.50134,84.9379706 L1505.4763,77.8003044 C1506.45309,76.9247552 1507,75.7609904 1507,74.5118607 C1507,73.2627309 1506.45309,72.0989662 1505.47574,71.2229197 C1504.58867,70.4310465 1503.41344,70 1502.17009,70 Z" id="fav"/>
                </g>
              </g>
            </svg>
          </a>
        </li>-->
        
        <!-- include 'wishlist-link-li' -->

        <li>
          <a href="{{ routes.cart_url }}" class="site-header__icon site-header__cart">
            {% include 'icon-cart' %}
            <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
            <div id="CartCount" class="site-header__cart-count{% if cart.item_count == 0 %} hide{% endif %}" data-cart-count-bubble>
              <span data-cart-count>{{ cart.item_count }}</span>
              <span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>



<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": {{ shop.name | json }},
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
  {% endif %}
  "sameAs": [
    {{ settings.social_twitter_link | json }},
    {{ settings.social_facebook_link | json }},
    {{ settings.social_pinterest_link | json }},
    {{ settings.social_instagram_link | json }},
    {{ settings.social_tumblr_link | json }},
    {{ settings.social_snapchat_link | json }},
    {{ settings.social_youtube_link | json }},
    {{ settings.social_vimeo_link | json }}
  ],
  "url": {{ shop.url | append: page.url | json }}
}
</script>

{% if request.page_type == 'index' %}
{% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
</script>
{% endif %}









{% schema %}
{
"name": {
"da": "Overskrift",
"de": "Titel",
"en": "Header"
},
"class":"CustHeader",
"settings": [
{
"type": "radio",
"id": "align_logo",
"label": {
"da": "Logojustering",
"de": "Logo-Ausrichtung",
"en": "Logo alignment",
"es": "Alineación de logotipo",
"fi": "Logon tasaus",
"fr": "Alignement du logo",
"hi": "लोगो संरेखण",
"it": "Allineamento logo",
"ja": "ロゴアラインメント",
"ko": "로고 정렬",
"ms": "Penjajaran logo",
"nb": "Logojustering",
"nl": "Logo-uitlijning",
"pt-BR": "Alinhamento do logotipo",
"pt-PT": "Alinhamento do logótipo",
"sv": "Logojustering",
"th": "การจัดวางโลโก้",
"zh-CN": "logo 对齐方式",
"zh-TW": "商標對齊"
},
"default": "left",
"options": [
{
"value": "left",
"label": {
"da": "Venstre",
"de": "Links",
"en": "Left",
"es": "Izquierda",
"fi": "Vasen",
"fr": "Gauche",
"hi": "बाएँ",
"it": "Sinistra",
"ja": "左",
"ko": "왼쪽",
"ms": "Kiri",
"nb": "Venstre",
"nl": "Links",
"pt-BR": "Esquerda",
"pt-PT": "Esquerda",
"sv": "Vänster",
"th": "ด้านซ้าย",
"zh-CN": "左侧",
"zh-TW": "左方"
}
},
{
"value": "center",
"label": {
"da": "Centreret",
"de": "Mittig",
"en": "Centered",
"es": "Centrada",
"fi": "Keskitetty",
"fr": "Centré",
"hi": "केंद्र",
"it": "Centrato",
"ja": "中央揃え",
"ko": "센터 맞추기",
"ms": "Ditengah",
"nb": "Sentrert",
"nl": "Gecentreerd",
"pt-BR": "Centralizado",
"pt-PT": "Centrado",
"sv": "Centrera",
"th": "ตรงกลาง",
"zh-CN": "居中",
"zh-TW": "置中"
}
}
]
},
{
"type": "image_picker",
"id": "logo",
"label": {
"da": "Logobillede",
"de": "Logo-Foto",
"en": "Logo image",
"es": "Logotipo",
"fi": "Logokuva",
"fr": "Image du logo",
"hi": "लोगो इमेज",
"it": "Immagine del logo",
"ja": "ロゴ画像",
"ko": "로고 이미지",
"ms": "Imej logo",
"nb": "Logobilde",
"nl": "Afbeelding van logo",
"pt-BR": "Imagem do logotipo",
"pt-PT": "Imagem do logótipo",
"sv": "Logobild",
"th": "รูปภาพโลโก้",
"zh-CN": "logo 图片",
"zh-TW": "標誌圖片"
},
"info": {
"da": "250 x 33px .png recommended",
"de": "250 x 33px .png recommended",
"en": "250 x 33px .png recommended"
}
},
{
"type": "range",
"id": "logo_max_width",
"label": {
"da": "Tilpasset logobredde",
"de": "Logobreite",
"en": "Custom logo width",
"es": "Ancho del logotipo personalizado",
"fi": "Mukautetun logon leveys",
"fr": "Largeur personnalisée du logo",
"hi": "कस्टम लोगो की चौड़ाई",
"it": "Larghezza logo personalizzato",
"ja": "ロゴの幅をカスタムする",
"ko": "사용자 지정 로고 폭",
"ms": "Lebar logo tersuai",
"nb": "Tilpasset logobredde",
"nl": "Aangepaste logo-breedte",
"pt-BR": "Largura do logotipo personalizado",
"pt-PT": "Largura de logótipo personalizada",
"sv": "Anpassad logotypsbredd",
"th": "ความกว้างของโลโก้แบบกำหนดเอง",
"zh-CN": "自定义 logo 宽度",
"zh-TW": "自訂商標寬度"
},
"min": 50,
"max": 250,
"step": 5,
"unit": {
"da": "px",
"de": "px",
"en": "px",
"es": "px",
"fi": "px",
"fr": "px",
"hi": "px",
"it": "px",
"ja": "px",
"ko": "px",
"ms": "px",
"nb": "px",
"nl": "px",
"pt-BR": "px",
"pt-PT": "px",
"sv": "px",
"th": "px",
"zh-CN": "px",
"zh-TW": "像素"
},
"default": 100
},
{
"type": "link_list",
"id": "main_linklist",
"label": {
"da": "Menu",
"de": "Menü",
"en": "Menu",
"es": "Menú",
"fi": "Valikko",
"fr": "Menu",
"hi": "मेनू",
"it": "Menu",
"ja": "メニュー",
"ko": "메뉴",
"ms": "Menu",
"nb": "Meny",
"nl": "Menu",
"pt-BR": "Menu",
"pt-PT": "Menu",
"sv": "Meny",
"th": "เมนู",
"zh-CN": "菜单",
"zh-TW": "選單"
},
"default": "main-menu"
},
{
"type": "image_picker",
"id": "mega_img_1",
"label": {
"da": "Mega Menu Image 1",
"de": "Mega Menu Image 1",
"en": "Mega Menu Image 1",
"es": "Logotipo"
},
"info": {
"da": "480 x 480px .png recommended",
"de": "480 x 480px .png recommended",
"en": "480 x 480px .png recommended"
}
},
{
"type": "image_picker",
"id": "mega_img_2",
"label": {
"da": "Mega Menu Image 2",
"de": "Mega Menu Image 2",
"en": "Mega Menu Image 2",
"es": "Logotipo"
},
"info": {
"da": "480 x 480px .png recommended",
"de": "480 x 480px .png recommended",
"en": "480 x 480px .png recommended"
}
},
{
"type": "image_picker",
"id": "mega_img_3",
"label": {
"da": "Mega Menu Image 3",
"de": "Mega Menu Image 3",
"en": "Mega Menu Image 3",
"es": "Logotipo"
},
"info": {
"da": "480 x 480px .png recommended",
"de": "480 x 480px .png recommended",
"en": "480 x 480px .png recommended"
}
},
{
"type": "image_picker",
"id": "mega_img_4",
"label": {
"da": "Mega Menu Image 4",
"de": "Mega Menu Image 4",
"en": "Mega Menu Image 4",
"es": "Logotipo"
},
"info": {
"da": "480 x 480px .png recommended",
"de": "480 x 480px .png recommended",
"en": "480 x 480px .png recommended"
}
},
{
"type": "header",
"content": {
"da": "Meddelelseslinje",
"de": "Ankündigungsbereich",
"en": "Mega menu for Collection"
}
},
{
"type": "link_list",
"id": "coll_linklist_1",
"label": {
"da": "Menu",
"de": "Menü",
"en": "Menu 1"
},
"default": "main-menu"
},
{
"type": "link_list",
"id": "coll_linklist_2",
"label": {
"da": "Menu",
"de": "Menü",
"en": "Menu 2"
},
"default": "main-menu"
},
{
"type": "link_list",
"id": "coll_linklist_3",
"label": {
"da": "Menu",
"de": "Menü",
"en": "Menu 3"
},
"default": "main-menu"
},
{
"type": "link_list",
"id": "coll_linklist_4",
"label": {
"da": "Menu",
"de": "Menü",
"en": "Menu 4"
},
"default": "main-menu"
},
{
"type": "link_list",
"id": "coll_linklist_5",
"label": {
"da": "Menu",
"de": "Menü",
"en": "Menu 5"
},
"default": "main-menu"
},
{
"type": "header",
"content": {
"da": "Meddelelseslinje",
"de": "Ankündigungsbereich",
"en": "Mega menu for Style"
}
},
{
"type": "link_list",
"id": "style_linklist_1",
"label": {
"da": "Menu",
"de": "Menü",
"en": "Menu 1"
},
"default": "main-menu"
},
{
"type": "link_list",
"id": "style_linklist_2",
"label": {
"da": "Menu",
"de": "Menü",
"en": "Menu 2"
},
"default": "main-menu"
},
{
"type": "link_list",
"id": "style_linklist_3",
"label": {
"da": "Menu",
"de": "Menü",
"en": "Menu 3"
},
"default": "main-menu"
},
{
"type": "link_list",
"id": "style_linklist_4",
"label": {
"da": "Menu",
"de": "Menü",
"en": "Menu 4"
},
"default": "main-menu"
},
{
"type": "link_list",
"id": "style_linklist_5",
"label": {
"da": "Menu",
"de": "Menü",
"en": "Menu 5"
},
"default": "main-menu"
},
{
"type": "header",
"content": {
"da": "Meddelelseslinje",
"de": "Ankündigungsbereich",
"en": "Mega menu for Room"
}
},
{
"type": "link_list",
"id": "room_linklist_1",
"label": {
"da": "Menu",
"de": "Menü",
"en": "Menu 1"
},
"default": "main-menu"
},
{
"type": "link_list",
"id": "room_linklist_2",
"label": {
"da": "Menu",
"de": "Menü",
"en": "Menu 2"
},
"default": "main-menu"
},
{
"type": "link_list",
"id": "room_linklist_3",
"label": {
"da": "Menu",
"de": "Menü",
"en": "Menu 3"
},
"default": "main-menu"
},
{
"type": "link_list",
"id": "room_linklist_4",
"label": {
"da": "Menu",
"de": "Menü",
"en": "Menu 4"
},
"default": "main-menu"
},
{
"type": "link_list",
"id": "room_linklist_5",
"label": {
"da": "Menu",
"de": "Menü",
"en": "Menu 5"
},
"default": "main-menu"
},
{
"type": "header",
"content": {
"da": "Meddelelseslinje",
"de": "Ankündigungsbereich",
"en": "List for color"
}
},
{
"type": "link_list",
"id": "colorList",
"label": {
"da": "Menu",
"de": "Menü",
"en": "Menu 1"
},
"default": "main-menu"
},
{
"type": "header",
"content": {
"da": "Meddelelseslinje",
"de": "Ankündigungsbereich",
"en": "Gallery"
}
},
{
"type": "checkbox",
"id": "gallery_show",
"label": {
"da": "Vis meddelelse",
"de": "Ankündigung anzeigen",
"en": "Show Gallery"
},
"default": true
},
{
"type": "checkbox",
"id": "gallery",
"label": {
"da": "Vis meddelelse",
"de": "Ankündigung anzeigen",
"en": "Gallery at bottom"
},
"default": false
},
{
"type": "image_picker",
"id": "image_1",
"label": {
"da": "Image 1",
"de": "Image 1",
"en": "Image 1"
},
"info": {
"da": "180 x 180px .png recommended",
"de": "180 x 180px .png recommended",
"en": "180 x 180px .png recommended"
}
},
{
"type": "text",
"id": "text_1",
"label": "Text 2",
"default": "Some HTML content"
},
{
"type": "url",
"id": "link_1",
"label": {
"da": "Link",
"de": "Link",
"en": "Link 1"
},
"info": {
"da": "Valgfri",
"de": "Optional",
"en": "Optional"
}
},
{
"type": "image_picker",
"id": "image_2",
"label": {
"da": "Image 2",
"de": "Image 2",
"en": "Image 2"
},
"info": {
"da": "180 x 180px .png recommended",
"de": "180 x 180px .png recommended",
"en": "180 x 180px .png recommended"
}
},
{
"type": "text",
"id": "text_2",
"label": "Text 2",
"default": "Some HTML content"
},
{
"type": "url",
"id": "link_2",
"label": {
"da": "Link",
"de": "Link",
"en": "Link 2"
},
"info": {
"da": "Valgfri",
"de": "Optional",
"en": "Optional"
}
},
{
"type": "image_picker",
"id": "image_3",
"label": {
"da": "Image 3",
"de": "Image 3",
"en": "Image 3"
},
"info": {
"da": "180 x 180px .png recommended",
"de": "180 x 180px .png recommended",
"en": "180 x 180px .png recommended"
}
},
{
"type": "text",
"id": "text_3",
"label": "Text 3",
"default": "Some HTML content"
},
{
"type": "url",
"id": "link_3",
"label": {
"da": "Link",
"de": "Link",
"en": "Link 3"
},
"info": {
"da": "Valgfri",
"de": "Optional",
"en": "Optional"
}
},
{
"type": "image_picker",
"id": "image_4",
"label": {
"da": "Image 4",
"de": "Image 4",
"en": "Image 4"
},
"info": {
"da": "180 x 180px .png recommended",
"de": "180 x 180px .png recommended",
"en": "180 x 180px .png recommended"
}
},
{
"type": "text",
"id": "text_4",
"label": "Text 4",
"default": "Some HTML content"
},
{
"type": "url",
"id": "link_4",
"label": {
"da": "Link",
"de": "Link",
"en": "Link 4"
},
"info": {
"da": "Valgfri",
"de": "Optional",
"en": "Optional"
}
},
{
"type": "header",
"content": {
"da": "Meddelelseslinje",
"de": "Ankündigungsbereich",
"en": "Thubnails In Mobile Menu"
}
},
{
"type": "header",
"content": {
"da": "Meddelelseslinje",
"de": "Ankündigungsbereich",
"en": "Announcement bar",
"es": "Barra de anuncios",
"fi": "Ilmoituspalkki",
"fr": "Barre d'annonces",
"hi": "घोषणा बार",
"it": "Barra degli annunci",
"ja": "告知バー",
"ko": "공지 표시줄",
"ms": "Bar pengumuman",
"nb": "Kunngjøringslinje",
"nl": "Aankondigingsbalk",
"pt-BR": "Barra de anúncios",
"pt-PT": "Barra de comunicado",
"sv": "Meddelandefält",
"th": "แถบประกาศ",
"zh-CN": "公告栏",
"zh-TW": "公告列"
}
},
{
"type": "checkbox",
"id": "message",
"label": {
"da": "Vis meddelelse",
"de": "Ankündigung anzeigen",
"en": "Show announcement",
"es": "Mostrar anuncio",
"fi": "Näytä ilmoitus",
"fr": "Afficher l'annonce",
"hi": "घोषणा डिखाएं",
"it": "Mostra annuncio",
"ja": "告知を表示する",
"ko": "공지 표시",
"ms": "Tunjukkan pengumuman",
"nb": "Vis kunngjøring",
"nl": "Aankondiging weergeven",
"pt-BR": "Exibir anúncio",
"pt-PT": "Mostrar comunicado",
"sv": "Visa tillkännagivande",
"th": "แสดงประกาศ",
"zh-CN": "显示公告",
"zh-TW": "顯示公告"
},
"default": false
},
{
"type": "checkbox",
"id": "home_page_only",
"label": {
"da": "Kun startside",
"de": "Nur Startseite",
"en": "Home page only",
"es": "Solo página de inicio",
"fi": "Vain kotisivu",
"fr": "Page d'accueil uniquement",
"hi": "केवल होमपेज",
"it": "Solo home page",
"ja": "ホームページのみ",
"ko": "홈페이지만",
"ms": "Halaman utama sahaja",
"nb": "Kun på startsiden",
"nl": "Alleen startpagina",
"pt-BR": "Apenas na página inicial",
"pt-PT": "Apenas a página inicial",
"sv": "Endast hemsida",
"th": "หน้าแรกเท่านั้น",
"zh-CN": "仅主页",
"zh-TW": "僅限首頁"
},
"default": true
},
{
"type": "html",
"id": "message_text",
"label": "Desktop Text",
"default": "<div><p>Some HTML content</p></div>"
},
{
"type": "html",
"id": "message_mobile_text",
"label": "Mobile Text",
"default": "<div><p>Some HTML content</p></div>"
},
{
"type": "url",
"id": "message_link",
"label": {
"da": "Link",
"de": "Link",
"en": "Link",
"es": "Enlace",
"fi": "Linkki",
"fr": "Lien",
"hi": "लिंक",
"it": "Link",
"ja": "リンク",
"ko": "링크",
"ms": "Pautan",
"nb": "Kobling",
"nl": "Link",
"pt-BR": "Link",
"pt-PT": "Ligação",
"sv": "Länk",
"th": "ลิงก์",
"zh-CN": "链接",
"zh-TW": "連結"
},
"info": {
"da": "Valgfri",
"de": "Optional",
"en": "Optional",
"es": "Opcional",
"fi": "Valinnainen",
"fr": "Facultatif",
"hi": "वैकल्पिक",
"it": "Facoltativo",
"ja": "オプション",
"ko": "선택 사항",
"ms": "Opsyenal",
"nb": "Valgfritt",
"nl": "Optioneel",
"pt-BR": "Opcional",
"pt-PT": "Opcional",
"sv": "Valfritt",
"th": "ไม่จำเป็น",
"zh-CN": "可选",
"zh-TW": "(選填)"
}
},
{
"type": "color",
"id": "color_bg",
"label": {
"da": "Bjælke",
"de": "Zeile",
"en": "Bar",
"es": "Barra",
"fi": "Palkki",
"fr": "Barre",
"hi": "बार",
"it": "Barra",
"ja": "バー",
"ko": "바",
"ms": "Bar",
"nb": "Felt",
"nl": "Balk",
"pt-BR": "Barra",
"pt-PT": "Barra",
"sv": "Fält",
"th": "แถบ",
"zh-CN": "栏",
"zh-TW": "橫條"
},
"default": "#7796a8"
},
{
"type": "color",
"id": "color_text",
"label": {
"da": "Tekst",
"de": "Text",
"en": "Text",
"es": "Texto",
"fi": "Teksti",
"fr": "Texte",
"hi": "टेक्स्ट",
"it": "Testo",
"ja": "テキスト",
"ko": "텍스트",
"ms": "Teks",
"nb": "Tekst",
"nl": "Tekst",
"pt-BR": "Texto",
"pt-PT": "Texto",
"sv": "Text",
"th": "ข้อความ",
"zh-CN": "文本",
"zh-TW": "文字"
},
"default": "#fff"
}
]
}
{% endschema %}
